<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </!--ion-header--> <!--Essa parte do código é para o IOS-->
  <!--Podemos tirar - vou comentar-->
  <img src="https://img.freepik.com/vetores-gratis/pessoas-conversando-com-gerentes-em-ilustracao-vetorial-plana-de-banco-clientes-sentados-e-aconselhando-sobre-a-contratacao-de-emprestimo-abertura-de-deposito-ou-solicitacao-de-hipoteca-servico-bancario-conceito-de-departamento_74855-23133.jpg?w=826&t=st=1680225563~exp=1680226163~hmac=f53906eb27684b761b09d1d4ed0f8133fa466cbaffd801d5b2d3c24f9ec1f416" alt="">
  <h1>André Francisco</h1>
  <P>Primeiras alterações no APP com o Ionic</P>

</ion-content>
